@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #001139;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-obviously), system-ui, sans-serif;
}
