@import "tailwindcss";

:root {
  /* Neutrals */
  --color-primary: #ffffff;
  --color-primary-darker: #f1f1f1;
  --color-off-primary: #c4cccf;
  --color-off-primary-dark: #949494;

  /* Text */
  --color-text-primary: #001139;
  --color-text-muted: #757676;

  /* Brand */
  --color-brand-red: #e00000;
  --color-brand-red-hover: #990000;
  --color-brand-blue: #00b4de;
  --color-brand-green: #2def00;
  --color-brand-navy: #005b70;

  /* Content semantics */
  --color-content-emphasis: var(--color-brand-blue);

  /* UI semantics (na przyszłość) */
  --color-danger: var(--color-brand-red);
  --color-success: var(--color-brand-green);
}

body {
  background: var(--color-primary);
  color: var(--color-text-primary);
  font-family: var(--font-obviously), system-ui, sans-serif;
}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clip-hero {
    -webkit-clip-path: url(#customHeroClipPath);
    clip-path: url(#customHeroClipPath);
  }
  .clip-footer {
    -webkit-clip-path: url(#customFooterClipPath);
    clip-path: url(#customFooterClipPath);
  }
  .clip-sub-hero {
    -webkit-clip-path: url(#customSubHeroClipPath);
    clip-path: url(#customSubHeroClipPath);
  }
  .cta-path {
    transform: skewX(-15deg);
  }
  .nav-transition {
    transition:
      all 0.3s ease,
      box-shadow 0.3s ease;
  }
  .h1-hero {
    font-size: 5.375rem;
    letter-spacing: 0.3%;
    line-height: 105%;
  }
  .h2-hero {
    font-size: 1.25rem;
    line-height: 130%;
  }
  .h2-footer {
    font-size: 2.5rem;
  }
  .content-max-width {
    width: min(100%, 90rem);
    padding-inline: 3.75rem;
    margin-inline: auto;
  }
  .aspect-map {
    aspect-ratio: 1920/800;
  }
  .sub-hero-gradient {
    /* background: linear-gradient(
      180deg,
      #000000 13.71%,
      rgba(0, 0, 0, 0) 56.86%,
      #000000 100%
    ); */
    background: #303030;
  }
  .founders-gradient {
    background: linear-gradient(180deg, rgba(0, 17, 57, 0) 0%, #001139 100%);
  }
  .for-gov-gradient {
    background:
      linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #001139 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }
}
