@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #001139;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-obviously), system-ui, sans-serif;
}

@layer utilities {
  .clip-hero {
    clip-path: url(#customHeroClipPath);
  }
  .h1-hero {
    font-size: 5.375rem;
    letter-spacing: 0.3%;
    line-height: 105%;
  }
  .h2-hero {
    font-size: 1.25rem;
    line-height: 130%;
  }
}
